@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.genBtn {
  @apply inline-block border-2 border-emerald-400 rounded text-neutral-950 text-center uppercase text-lg font-semibold mx-auto px-6 py-2 hover:bg-emerald-500 hover:border-emerald-600 hover:text-white duration-75 active:bg-emerald-600;
}

.feedbackBtn {
  @apply inline-block text-center uppercase text-base font-semibold mx-auto px-6 py-2 text-white bg-black rounded mr-8 w-32;
}

.resetBtn {
  @apply inline-block text-center uppercase text-base font-semibold mx-auto px-6 py-2 text-black bg-gray-100 border-neutral-700  border-2 rounded w-32;
}
